html, body {
    height: 100%;
    width: 100%;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background: #575764;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

*::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

*::-webkit-scrollbar-button {
    display: none; /* Hide arrows */
}
